<h1><%= @game.active_player.name %> has successfully attacked <%= @game.non_active_player.name %>!</h1>
<h1>It is <%= @game.non_active_player.name %>'s turn</h1>
<h1><%= @game.player_1.name %>: <%= @game.player_1.hp %>HP</h1>
<h1><%= @game.player_2.name %>: <%= @game.player_2.hp %>HP</h1>

<form action="/switch_turns" method="post">
  <input type="submit" value="Switch Turns">
</form>
